===============================================================================
             FOR LOOPS
===============================================================================

For loop acts as an or any iterator in python, that goes through the items thaat are in a sequence or any iterable item.

In [1]:
l=[1,2,3,4,5]

In [2]:
l

[1, 2, 3, 4, 5]

In [3]:
for i in l:
    print(i)

1
2
3
4
5

In [5]:
for i in l:
    print('Hello world')

Hello world
Hello world
Hello world
Hello world
Hello world

In [9]:
#check for even numbers introduce MODULO
(10%3)

1

In [11]:
4%2

0

In [12]:
l

[1, 2, 3, 4, 5]

In [16]:
for i in l:
    if(i%2==1):
        print(i)

1
3
5

In [43]:
for i in l:
    if(i%2==0):
        print('%s is an even number'%i)
    else:
        print('%s is an odd number'%i)

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number

In [44]:
l

[1, 2, 3, 4, 5]

In [81]:
list_sum = 0
for i in l:
    list_sum=list_sum+i
    print('the sum at %i iteration is %i'%(i,list_sum))

print("the total sum is %s"%list_sum)

the sum at 1 iteration is 1
the sum at 2 iteration is 3
the sum at 3 iteration is 6
the sum at 4 iteration is 10
the sum at 5 iteration is 15
the total sum is 15

In [84]:
 s='this is a string'
for num in s:
    print(num)

t
h
i
s

i
s

a

s
t
r
i
n
g

In [85]:
tup=(1,2,3,4,5)
for t in tup:
    print(t)

1
2
3
4
5

In [86]:
  #tuple unpacking
l=[(2,4),(6,8),(10,12)]

In [87]:
l[2][0]

10

In [91]:
 for tup in l:
        print(tup)

(2, 4)
(6, 8)
(10, 12)

In [98]:
for (t1,t2) in l:
    print(t1+t2)

6
14
22

In [99]:
d={'k1':1,'k2':2,'k3':3}
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [102]:
for item in d:
    print(item)

k1
k2
k3

In [103]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3