In [1]:
2+1

3

In [2]:
2*1

2

In [3]:
2*3

6

In [4]:
3/2

1.5

In [5]:
float(3)/2

1.5

In [6]:
  2**3

8

In [11]:
5**2.0

25.0

2+10*10+3

In [13]:
(2+10)*(10+3)

156

In [14]:
a=5

In [15]:
a

5

In [16]:
a+a

10

In [17]:
 a=10

In [18]:
a

10

 It is better to give the name of variables in lowercase letter.If we are to separete the words use _ symbol between the letters

In [19]:
my_income=100

In [20]:
tax_rate=0.1

In [21]:
my_taxes=my_income*tax_rate

In [22]:
my_taxes

10.0