Python thinks every letter in string to be a sequence. Every single letter is a part of sequence so it will help in indexing and slicing.

In [1]:
"hello"

'hello'

In [2]:
'Hello'

'Hello'

In [3]:
'I live in satashidham-8 Sangamchowk'

'I live in satashidham-8 Sangamchowk'

We can also  use double quote too instead of single quotes also. Except in some cases, we can use single  quote to denote the string.Like in the example shown below as
;

In [4]:
'I'm a string'

SyntaxError: invalid syntax (<ipython-input-4-7cc01762349c>, line 1)

In this case we use double quote to denote a string

In [5]:
"I'm a string"

"I'm a string"

Also we can solve the problem as

In [6]:
' "iam a string" '

' "iam a string" '

In [14]:
print('hello world')

hello world

In [16]:
print('Hello world 1')
print('Hello world 2')

Hello world 1
Hello world 2

We can also use backslash \n to make distinction between two lines
we can also use \t to give tab

In [22]:
print(' Here is a new line \n Also here is the second line')

 Here is a new line
 Also here is the second line

In [26]:
print('here is a new line \t  here is the another line')

here is a new line 	  here is the another line

In [27]:
len('hello world')

11

In [28]:
a='hello world'

In [32]:
print(a)

hello world

In [33]:
len(a)

11

----------------------------------------------------------------------------
              SLICING AND INDEXING
----------------------------------------------------------------------------

Indexing is one of the properties in Python as it makes string a part of the  sequence. In Python, we use sequence as;

In [34]:
a[1]

'e'

In [38]:
a[10]

'd'

Slicing is also the important properties of Python.Slicing grabs eveeything upto a designated point. a[1:] gives the slicing from the given index number and a[:1] gives the slicing upto the given number.

In [40]:
a[1:]

'ello world'

In [42]:
a[2:]

'llo world'

In [43]:
a[3:]

'lo world'

In [44]:
a[1:]

'ello world'

In [45]:
a[0:]

'hello world'

In [49]:
a[:3]

'hel'

In [50]:
print(a)

hello world

Also we use colon to grab everything

In [51]:
a[:]

'hello world'

Use string just like a loop where take first element as zero and reverse every element before it as negative of 1.

In [52]:
 a[-1]

'd'

In [53]:
a[:-1]

'hello worl'

In [54]:
a[::2]

'hlowrd'

In [55]:
a[::3]

'hlwl'

In [56]:
a[::-1]

'dlrow olleh'

In [58]:
a[::-2]

'drwolh'

In [59]:
a[::-3]

'dooe'

--------------------------------------------------------------------------
              STRING PROPERTIES
--------------------------------------------------------------------------

If the string is formed, it cannot be changed by any means but it can be concatenated to the required form. It is concatenated by adding with the required string as follows:

In [71]:
a='hello world'

In [72]:
print(a)

hello world

In [73]:
a+ ' welcome to this world '

'hello world welcome to this world '

Some other arthmetic symbols that we can use for string is multiplication.
multiply the result by times

In [81]:
letter = 'zz'

In [83]:
print(letter)

zz

In [84]:
letter*10

'zzzzzzzzzzzzzzzzzzzz'

-----------------------------------------------------------------------------
                      METHODS
-----------------------------------------------------------------------------

In [85]:
s='hello'

In [87]:
s

'hello'

In [88]:
s.upper()

'HELLO'

In [90]:
s.lower()

'hello'

In [94]:
s.split('e')

['h', 'llo']

In [95]:
b='yalab'

In [96]:
print(b)

yalab

In [97]:
b[1]

'a'

In [98]:
b[0]

'y'

In [99]:
b[-1]

'b'

In [102]:
b[1:]

'alab'

In [104]:
b[:1]

'y'

In [105]:
b[::1]

'yalab'

In [106]:
b[::2]

'ylb'

In [107]:
b[::3]

'ya'

In [108]:
b[::-1]

'balay'

In [109]:
b[::-2]

'bly'