==============================================================================================================================
               PRINT FORMATTING
================================================================================================================================

In [6]:
print("this is a new string")

this is a new string

In [3]:
x= 'people'

In [4]:
print('the new added string is: %s'%(x))

the new added string is: people

For truncating the numbrs after the decimal points, we use the syntax as
;

In [5]:
print('lets get the floating point numbers after truncating off: %1.2f'%(13.445555))

lets get the floating point numbers after truncating off: 13.45

In [12]:
print('The floating point number: %1.2f'%(22.5555))

The floating point number: 22.56

In [22]:
print('the number which is truncted is: %10.2f'%(13.144))

the number which is truncted is:      13.14

CONVERSION OF OBJECT TO STRING

In [23]:
print('convert to string %s'%(123))

convert to string 123

PASSING MORE THAN ONE VARIABLE TO THE STRING

In [35]:
print('first:%s,Second:%s,Third:%s'%('yalab','Preyas',5))

first:yalab,Second:Preyas,Third:5

PYTHON gonna take the object in order and places the first object assigned to the first percentage and likewise

If you are to use the same order to multple  string, we can use a pythonic way where we can even mess with the order of the objects which is shown in the example as

In [34]:
print('first:%s,second:%s'%(2,2))

first:2,second:2

In [36]:
print('first:{x},second{x}'.format(x='inserted'))

first:inserted,secondinserted

In [37]:
print('first:{x},second:{y},third:{x}'.format(x='inserted',y='two'))

first:inserted,second:two,third:inserted